.map-wrapper {
  display: flex;
  gap: 20px;
}

.map-container {
  flex: 1;
  height: 80vh;
  width: 100%;
  position: relative;
}

.center-control {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 5px;
}

.center-control-icon {
  background-image: url("https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png");
  background-size: 160px 16px;
  background-position: 0 0;
  width: 16px;
  height: 16px;
  margin: 10px;
}
